#pokeLista{
    height:   10rem ;
    max-height: 20rem;
    width: 11rem;
    
    position: absolute;
    overflow:hidden;
    background-color: white;
    z-index: 1;
    
}

/* oculta las barras de desplazamiento */
::-webkit-scrollbar {
    display:none;
    
}
#info{
    position: relative;
}